.app{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  border-radius: 5px;
  padding: 5px;
  margin: auto;
}

button{
  height: 30px;
  width: 30px;
  margin: 10px;
}

.symbol-selector{
  display: flex;
}